@{
    ViewData["Title"] = "Home Page";
}
@using Movex.Entity
@model List<Movie>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a name="previous" class="page-link" href="#">Anterior</a></li>
        <li class="page-item"><a name="next" class="page-link" href="#">Próximo</a></li>
    </ul>
</nav>



<div id="root"></div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a name="previous" class="page-link" href="#">Anterior</a></li>
        <li class="page-item"><a name="next" class="page-link" href="#">Próximo</a></li>
    </ul>
</nav>

@section Scripts{


    <script>

        var page = 1;
        var filter = $('#txtSearch').val();

        getPartialListMovies();

        function getPartialListMovies(_page = 1, _search = '', _genero = '') {

            $.ajax({
                url: `../Home/_PartialListMovies?page=${_page}&genre=${_genero}&search=${_search}`,
                type: "GET",
                dataType: 'html',
                contentType: 'application/json',
                cache: false,
                success: function (data) { $('#root').html(data) },
                error: function (error) { console.log(error) },
                beforeSend: () => blockUI(),
                complete: () => unblockUi()
            });

        }

        $('.pagination > .page-item > a').on('click', function () {

            let name = $(this).attr('name');

            if (name == 'previous')
                movePrevious();
            else
                moveNext();

        });


        function moveNext() {

            page += 1;


            getPartialListMovies(page, filter);

        }

        function movePrevious() {

            page = page == 1 ? 1 : page - 1;

            getPartialListMovies(page, filter);
        }


        $('#btnSearch').on('click', function() {

            filter = $('#txtSearch').val();
            $('#txtSearch').attr('disabled', 'disabled');

            $(this).hide();
            $('#btnClear').show();

            if (filter !== '')
                getPartialListMovies(1, filter);

        });


        $('#btnClear').on('click', function(){

            filter = '';
            $('#txtSearch').removeAttr('disabled');

            $(this).hide();
            $('#btnSearch').show();

            getPartialListMovies(1);

        });

    </script>

}
